@model IEnumerable<EGreetings_Project.Areas.Admin.Models.UserFeedbackListViewModel>

@{
  Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="libre-franklin--title primary-color">@ViewData["UserName"]: Feedback List</h2>

<hr />

<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Suject</th>
                <th>Received Email</th>
                <th>Created Date</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {  
              <tr>
                <td>@item.Suject</td>
                <td>@item.ReceivedEmail</td>
                <td>@item.CreatedDate</td>
                <td>@item.Comment</td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



