@model EGreetings.Models.Template

@{
  Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section HeadScripts {
}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="libre-franklin--title primary-color">@ViewData["CategoryName"]: Create Template</h1>
  <a asp-area="Admin" asp-controller="Category" asp-action="SubCategoryList" asp-route-groupCategory="@ViewData["GroupCategory"]">Back to @ViewData["GroupCategory"]</a>
</div>

<hr />

<p>CategoryId: @ViewData["CategoryID"]</p>

<div class="row mt-3">
  <div class="col-md-4">
    <form asp-action="Create" enctype="multipart/form-data" method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="TemplateName" class="control-label">Template Name</label>
        <input asp-for="TemplateName" class="form-control" />
        <span asp-validation-for="TemplateName" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label class="control-label">Category Name</label>
        <input class="form-control" type="text" value="@ViewData["CategoryName"]" readonly />
        <input asp-for="CategoryID" type="hidden" value="@ViewData["CategoryID"]" />
      </div>

      <div class="form-group">
        <label class="control-label">Vertical Image</label>
        <input type="file" name="imgVer" class="form-control" />
        @if (ViewData.ModelState.ContainsKey("imgVer"))
        {
          <span class="text-danger">@ViewData.ModelState["imgVer"].Errors.FirstOrDefault()?.ErrorMessage</span>
        }        
      </div>

      <div class="form-group">
        <label class="control-label">Horizontal Image</label>
        <input type="file" name="imgHoz" class="form-control" />
        @if (ViewData.ModelState.ContainsKey("imgHoz"))
        {
          <span class="text-danger">@ViewData.ModelState["imgHoz"].Errors.FirstOrDefault()?.ErrorMessage</span>
        }       
      </div>

      <div class="form-group">
        <label class="control-label">Vertical SVG</label>
        <input type="file" name="svgVer" class="form-control" />
        @if (ViewData.ModelState.ContainsKey("svgVer"))
        {
          <span class="text-danger">@ViewData.ModelState["svgVer"].Errors.FirstOrDefault()?.ErrorMessage</span>
        }       
      </div>

      <div class="form-group">
        <label class="control-label">Horizontal SVG</label>
        <input type="file" name="svgHoz" class="form-control" />
       @if (ViewData.ModelState.ContainsKey("svgHoz"))
        {
          <span class="text-danger">@ViewData.ModelState["svgHoz"].Errors.FirstOrDefault()?.ErrorMessage</span>
        }        
      </div>


      <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input asp-for="Price" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label asp-for="Discount" class="control-label">Discounts</label>
        <input asp-for="Discount" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label asp-for="Status" class="control-label">Allow display?</label>
        <input asp-for="Status" type="checkbox" class="form-check-input ml-3" />
        <span asp-validation-for="Status" class="text-danger"></span>
      </div>

      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

@section Scripts {
}

